/*Заметки
Внутри navbar элементы перестают быть в строчку при ширине менее n
Придумать способ добавить горизонтальную черту - нормальной высоты

*/


/*-------------------------------------------------- Основные свойства --------------------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

body {
	background-color: #252427; /* Цвет фона */
	margin: 0;
	font-family: Inter, sans-serif;
	font-variant: normal;
	font-size: 16px;
	color: #E3E3E3;
}


/*-------------------------------------------------- Свойства для ссылок --------------------------------------------------*/


a {
	color: #E3E3E3;
	text-decoration: none;
}
a:visited {
	color: #E3E3E3;
}
a:hover {
	color: #64D8CA;
}


/*-------------------------------------------------- Свойства Navbar`а --------------------------------------------------*/


.container {
	height: 100px;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.logo {
	width: 167px;
	height: 100px;
}
header {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100px;
    color: #E3E3E3;
    margin: 0 10%;
    border-bottom: 1px solid #858585;
}
ul {
	margin: 0;
	align-items: center;
	padding-left: 0;
}
li {
	display: inline;
	padding-right: 40px;
	padding-left: 0;

}
.topmenu li:nth-child(5) {
	padding-right: 0;
	border-right: 1px solid #858585;
	margin-right: 40px;
}


/*-------------------------------------------------- Свойства заголовка сайта --------------------------------------------------*/


.container1 {
	margin-top: 0;
	padding-left: 10%;
	padding-right: 10%;
}
.container1 h1 {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 63px;
	line-height: 120%;
	margin: 0;
	margin-top: 90px;

}
.container1 h2 {
	font-family: Inter;
	font-style: normal;
	font-weight: 300;
	font-size: 19px;
	line-height: 140%;
	margin: 0;
	margin-top: 50px;
	margin-bottom: 160px;

}


/*-------------------------------------------------- "Что мы можем" --------------------------------------------------*/
.timetable a {
	margin-top: 0;
	font-family: Inter, sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 155%;
}