@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

body {
	margin: 0;
	font-family: Inter, sans-serif;
}


/*-------------------------------------------------- Свойства для ссылок --------------------------------------------------*/


a {
	color: #E3E3E3;
	text-decoration: none;
}
a:visited {
	color: #E3E3E3;
}
a:hover {
	color: #64D8CA;
}


/*-------------------------------------------------- Свойства для кнопок --------------------------------------------------*/


.button {
	display: inline-block;
	width: 205px;
	height: 50px;
	background-color: #037769;
	color: #FFFFFF;
	text-align: center;
	border: 2px solid #037769;
}
.button:hover {
	border: 2px solid #B7F0E9;
	color: #FFFFFF;
}


/*-------------------------------------------------- Фон сайта (тёмный-светлый) --------------------------------------------------*/


main .hor:nth-child(odd) {
	margin: 0;
	padding: 0;
	margin-bottom: 80px;
}
main .hor:nth-child(even) {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #858585;
	margin-bottom: 80px;
}


main .containers_main {
	padding-left: 120px;
	padding-right: 120px;
}
main .containers_main:nth-child(odd) {
	background-color: #252427;
	color: #FFFFFF;
}
main .containers_main:nth-child(even) {
	background-color: #FFFFFF;
	color: #000000;
}
main .containers_main:nth-child(8) {
	background-color: #252427;
	color: #FFFFFF;
}


/*-------------------------------------------------- Текстура на фоне --------------------------------------------------*/


.texture {
	position: absolute;
}

.texture:nth-of-type(1) {
	top: 42px;
	right: 0;
}
.texture:nth-of-type(2) {
	top: 1912px;
	right: 0;
}
.texture:nth-of-type(3) {
	top: 2350px;
	right: 0;
}
.texture:nth-of-type(4) {
	top: 2645px;
	left: 0;
}
.texture:nth-of-type(5) {
	top: 4750px;
	right: 0;
}
.texture:nth-of-type(6) {
	top: 6765px;
	right: 0;
}
.texture:nth-of-type(7) {
	top: 7680px;
	left: 0;
}


/*-------------------------------------------------- Свойства Navbar`а --------------------------------------------------*/


.container_top {
	margin: auto 0;
	padding: 0 10%;
	background-color: #252427;
}
header {

	display: flex;
    flex-direction: row;
	justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: 100px;
    
	font-size: 16px;
	font-weight: 300;
    
	border-bottom: 1px solid #858585;
}
.logo {
	width: 167px;
	height: 100px;
}
ul {
	margin: 0;
	align-items: center;
	padding-left: 0;
}
li {
	display: inline;
	padding-right: 40px;
	padding-left: 0;

}
.topmenu li:nth-child(5) {
	padding-right: 0;
	border-right: 1px solid #858585;
	margin-right: 40px;
}
.container_top h1 {
	font-weight: 500;
	font-size: 63px;
	line-height: 120%;
	margin: 90px 0 50px;
	color: #FFFFFF;
}
.container_top h2 {
	font-weight: 300;
	font-size: 19px;
	line-height: 140%;
	margin: 0 0 160px;
	color: #FFFFFF;
}


/*-------------------------------------------------- Основные разделы --------------------------------------------------*/


main h3 {
	font-weight: 500;
	font-size: 50px;
	line-height: normal;
	margin: 0 0 10px;
	padding-top: 120px;
}

main #contacts h3 {
	padding-top: 60px;
}

main .containers_main {
	padding-bottom: 135px;
	padding-left: 10%;
	padding-right: 10%;
}

main .containers_main:nth-child(3) {
	padding-bottom: 90px;
}

main .containers_main:last-child {
	padding-bottom: 60px;
}


/*-------------------------------------------------- "О нас" --------------------------------------------------*/


#about p {
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 60px;
	font-weight: 300;
}

#about div {
	background-color: #252427;
	color: #FFFFFF;
	position: relative;
}

#about div > div::before {
	content: "";
	width: 26px;
	height: 4px;
	top: 0;
	left: 0;
	position: absolute;
	background-color: #037769;
}

#about .about_blocks {
	display: flex;
	justify-content: space-between;
}
#about .about_blocks div {
	background: #252427;
	/*border-top: 4px solid #037769;*/
	padding-top: 14px;
	
}
#about > p {
	line-height: 160%;
}
#about .about_blocks p {
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 80px;
	line-height: 142%;
	color: #D2D2D2;
}
#about img {
	width: 100%;
	margin-bottom: 80px;
}

#about img ~ p {
	margin-bottom: 0;
}


/*-------------------------------------------------- "Что мы можем" --------------------------------------------------*/


#spec div {
	background-color: #FFFFFF;
	color: #000000;
}
#spec div p {
	margin: 0;
}
#spec .spec_line {
	display: flex;
	justify-content: space-between;
	margin-bottom: 55px;
}
#spec .spec_blocks {
	background-color: #F2F7F7;
	width: 32%;
	height: 238px;
	z-index: 1;
}
#spec .spec_blocks p:first-child {
	padding-top: 30px;
	margin-bottom: 5px;
	color: #037769;
	font-family: Inter, sans-serif;
	font-variant: normal;
	font-size: 28px;
}
#spec .spec_blocks p {
	padding-left: 35px;
	font-family: Inter, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 155%;
}


/*-------------------------------------------------- "Перейти к контактам кафедры" --------------------------------------------------*/


#contacts_link {
	text-align: center;
}
#contacts_link > p {
	margin-top: 0;
	margin-bottom: 30px;
	font-variant: medium;
	font-size: 30px;
	text-align: center;
	padding-top: 75px;
}


/*-------------------------------------------------- "Галерея" --------------------------------------------------*/


.containers_gallery_swiper {
	overflow: hidden;
	position: relative;
	display: block;
}
.containers_gallery_swiper img {
	height: 582px;
	margin: 0;
}
.containers_gallery_swiper p {
	height: 16px;
	margin: 0;
	margin-bottom: 50px;
}
.containers_gallery_swiper .gallery_slide {
	text-align: center;
}



.swiper_gallery_scrollbar-drag {
	padding: 10px;
	padding-left: 0;
	padding-right: 0;
}

.containers_gallery_swiper .swiper-scrollbar-drag {
	background-color: #878787;
	height: 10px;
	margin: -5px 0; /*Регулировка высоты ползунка*/
}




.swiper-gallery-button-prev::after,
.swiper-gallery-button-next::after {
	color: #FFFFFF;
	font-size: 59px;
	padding: 15px;
	background: rgba(0, 0, 0, 0.4);
	
}

.swiper-gallery-button-prev:hover::after,
.swiper-gallery-button-next:hover::after {
	font-size: 60px;
}


/*-------------------------------------------------- "Состав кафедры" --------------------------------------------------*/


.containers_people_swiper {
	overflow: hidden;
	position: relative;
	display: block;
}
.containers_people_swiper img {
	height: 390px;
	margin: 0;
}

.containers_people_swiper h1 {
	margin: 0;
	padding: 0;
	margin-top: 20px;
	font-size: 33px;
	font-weight: 500;
	text-transform: uppercase;
}
.containers_people_swiper h2 {
	margin: 0;
	padding: 0;
	margin-top: 4px;
	font-size: 19px;
	font-weight: 500;
}
.containers_people_swiper h3 {
	margin: 0;
	padding: 0;
	margin-top: 18px;
	font-size: 16px;
	font-weight: 300;
}
.containers_people_swiper h4 {
	margin: 0;
	padding: 0;
	margin-top: 12px;
	margin-bottom: 50px;
	font-size: 12px;
	font-weight: 200;
}

.containers_people_swiper .people_slide {
	text-align: center;
}



.swiper_people_scrollbar-drag {
	padding: 10px;
	padding-left: 0;
	padding-right: 0;
}

.containers_people_swiper .swiper-scrollbar-drag {
	background-color: #878787;
	height: 10px;
	margin: -5px 0; /*Регулировка высоты ползунка*/
}




.swiper-people-button-prev::after,
.swiper-people-button-next::after {
	color: #FFFFFF;
	font-size: 59px;
	padding: 15px;
	background: rgba(0, 0, 0, 0.4);
	
}

.swiper-people-button-prev:hover::after,
.swiper-people-button-next:hover::after {
	font-size: 60px;
}


/*-------------------------------------------------- "Новости" --------------------------------------------------*/


.containers_news_swiper {
	overflow: hidden;
	position: relative;
	display: block;
}
.containers_news_swiper img {
	height: 390px;
	margin: 0;
}

.containers_news_swiper .news_slide {
	text-align: center;
}



.swiper_news_scrollbar-drag {
	padding: 10px;
	padding-left: 0;
	padding-right: 0;
}

.containers_news_swiper .swiper-scrollbar-drag {
	background-color: #878787;
	height: 10px;
	margin: -5px 0; /*Регулировка высоты ползунка*/
}




.swiper-news-button-prev::after,
.swiper-news-button-next::after {
	color: #FFFFFF;
	font-size: 59px;
	padding: 15px;
	background: rgba(0, 0, 0, 0.4);
	
}

.swiper-news-button-prev:hover::after,
.swiper-news-button-next:hover::after {
	font-size: 60px;
}


/*-------------------------------------------------- "Партнеры" --------------------------------------------------*/


.containers_partners_swiper {
	overflow: hidden;
	position: relative;
	display: block;
}
.containers_partners_swiper img {
	vertical-align: middle;
	height: 60px;
	margin: 0;
	margin-bottom: 50px;
	text-align: center;
}
.containers_partners_swiper .gallery_slide {
	text-align: center;
}

.swiper_partners_scrollbar-drag {
	padding: 10px;
	padding-left: 0;
	padding-right: 0;
}

.containers_partners_swiper .swiper-scrollbar-drag {
	background-color: #878787;
	height: 10px;
	margin: -5px 0; /*Регулировка высоты ползунка*/
}


/*-------------------------------------------------- "Контакты" --------------------------------------------------*/


#contacts .contacts_cont {
	display: flex;
	justify-content: space-between;
}

#contacts h4 {
	font-weight: 500;
	font-variant: medium;
	font-size: 30px;
	padding-top: 10px;
	margin-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;

}
#contacts a {
	color: #FFFFFF;
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 300;
}
#contacts a:hover {
	color: #64D8CA;
}
#contacts .contacts_cont div {
	border-right: 1px solid #525252;
	height: 180px;
}


/*-------------------------------------------------- "Media-запросы" --------------------------------------------------*/


@media screen and (max-width: 1536px) { /*Отключение блокировки ширины в 80%*/
    header {
    	width: 100%;
    	margin: 0;
    }
    .container {
    	width: 100%
    }
    .container1 {
    	padding-left: 2%;
    	padding-right: 2%;
    }
    .containers_main {
    	padding-left: 2%;
    	padding-right: 2%;
    }
}
@media screen and (max-width: 1170px) { /*Отключение фоновых текстур*/
    
}
@media screen and (max-width: 1261px) { /*Активация вертикальных меню*/
    
}


/* 1024 - маленький монитор */