/*Заметки
Внутри navbar элементы перестают быть в строчку при ширине менее n
Придумать способ добавить горизонтальную черту - нормальной высоты










*/





@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
/*Основные свойства*/
body {
	background-color: #252427; /* Цвет фона */
	margin: 0;
	font-family: Inter, sans-serif;
	font-variant: normal;
	font-size: 16px;
	color: #E3E3E3;
}

/*Свойства для ссылок*/
a {
	color: #E3E3E3;
	text-decoration: none;
}
a:visited {
	color: #E3E3E3;
}
a:hover {
	color: #64D8CA;
}

.container {
	height: 100px;
}
header {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*background-color: rgba(0,0,0,0.59);*/
    width: 80%;
    position: absolute;
    color: #E3E3E3;
    margin: 0 10%;
    border-bottom: 1px solid #858585;
}
ul {
	margin: 0;
	align-items: center;
}
li {
	display: inline;
	padding-right: 40px;
	padding-left: 0;

}
.topmenu li:nth-child(5) {
	padding-right: 0;
	border-right: 1px solid #858585;
	margin-right: 40px;
}
.logo {
	width: 167px;
	height: 100px;
}







.container1 {
	padding-left: 10%;
	padding-right: 10%;
}
.container1 h1 {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 63px;
	line-height: 120%;
	padding-top: 14px;

}
.container1 h2 {
	font-family: Inter;
	font-style: normal;
	font-weight: 300;
	font-size: 19px;
	line-height: 140%;
	margin-bottom: 160px;
}
.button {
	display: inline-block;
	width: 205px;
	height: 50px;
	background-color: #037769;
	color: #FFFFFF;
	text-align: center;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	border: 2px solid #037769;
}
.button:hover {
	border: 2px solid #B7F0E9;
	color: #FFFFFF;
}


main {
	padding-left: 10%;
	padding-right: 10%;
	font-family: Inter;
}
main h3 {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 63px;
	line-height: 120%;
}


/*Градиент на фоне*/
main div:nth-child(odd) {
	background-color: #252427;
	color: #FFFFFF;
	font-size: 50px;
	Font style: Medium;
	Line height: 70px;
}
main div:nth-child(even) {
	background-color: #FFFFFF;
	color: #000000;
	font-size: 50px;
	Font style: Medium;
	Line height: 70px;
}
