/*Заметки
Внутри navbar элементы перестают быть в строчку при ширине менее n
Придумать способ добавить горизонтальную черту - нормальной высоты

*/


/*-------------------------------------------------- Основные свойства --------------------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

body {
	background-color: #252427; /* Цвет фона */
	margin: 0;
	font-family: Inter, sans-serif;
	font-variant: normal;
	font-size: 16px;
	color: #E3E3E3;
}


/*-------------------------------------------------- Свойства для ссылок --------------------------------------------------*/


a {
	color: #E3E3E3;
	text-decoration: none;
}
a:visited {
	color: #E3E3E3;
}
a:hover {
	color: #64D8CA;
}


/*-------------------------------------------------- Свойства для кнопок --------------------------------------------------*/


.button {
	display: inline-block;
	width: 205px;
	height: 50px;
	background-color: #037769;
	color: #FFFFFF;
	text-align: center;
	border: 2px solid #037769;
}
.button:hover {
	border: 2px solid #B7F0E9;
	color: #FFFFFF;
}


/*-------------------------------------------------- Фон сайта (тёмный-светлый) --------------------------------------------------*/


/*main div:nth-child(odd) {
	background-color: #252427;
	color: #FFFFFF;
	Font style: Medium;
}*/
main .hor:nth-child(odd) {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #1858585;
	margin-bottom: 80px;
}
/*main div:nth-child(even) {
	background-color: #FFFFFF;
	color: #000000;
	Font style: Medium;
}*/
main .hor:nth-child(even) {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #858585;
	margin-bottom: 80px;
}


main .containers {
	padding-left: 120px;
	padding-right: 120px;
}
main .containers:nth-child(odd) {
	background-color: #252427;
	color: #FFFFFF;
}
main .containers:nth-child(even) {
	background-color: #FFFFFF;
	color: #000000;
}


/*-------------------------------------------------- Текстура на фоне --------------------------------------------------*/


.texture {
	position: absolute;
}

.texture:nth-of-type(1) {
	top: 42px;
	right: 0;
}
.texture:nth-of-type(2) {
	top: 1912px;
	right: 0;
}
.texture:nth-of-type(3) {
	top: 2350px;
	right: 0;
}
.texture:nth-of-type(4) {
	top: 2645px;
	left: 0;
}
.texture:nth-of-type(5) {
	top: 4750px;
	right: 0;
}
.texture:nth-of-type(6) {
	top: 6765px;
	right: 0;
}
.texture:nth-of-type(7) {
	top: 7680px;
	left: 0;
}


/*-------------------------------------------------- Свойства Navbar`а --------------------------------------------------*/


.container {
	height: 100px;
	margin: auto 0;
	padding-top: 0;
	padding-bottom: 0;
}
.logo {
	width: 167px;
	height: 100px;
}
header {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100px;
    color: #E3E3E3;
    margin: 0 10%;
    border-bottom: 1px solid #858585;
}
ul {
	margin: 0;
	align-items: center;
	padding-left: 0;
}
li {
	display: inline;
	padding-right: 40px;
	padding-left: 0;

}
.topmenu li:nth-child(5) {
	padding-right: 0;
	border-right: 1px solid #858585;
	margin-right: 40px;
}


/*-------------------------------------------------- Свойства заголовка сайта --------------------------------------------------*/


.container1 {
	margin-top: 0;
	padding-left: 10%;
	padding-right: 10%;
}
.container1 h1 {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 63px;
	line-height: 120%;
	margin: 0;
	margin-top: 90px;

}
.container1 h2 {
	font-family: Inter;
	font-style: normal;
	font-weight: 300;
	font-size: 19px;
	line-height: 140%;
	margin: 0;
	margin-top: 50px;
	margin-bottom: 160px;

}

/*-------------------------------------------------- Основные разделы --------------------------------------------------*/


main {
	font-family: Inter;
}
main h3 {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	line-height: normal;
	margin-top: 0;
	padding-top: 120px;
	margin-bottom: 10px;
}

main .containers {
	padding-bottom: 135px;
	padding-left: 10%;
	padding-right: 10%;
}

main .containers:nth-child(3) {
	padding-bottom: 90px;
}

main .containers:last-child {
	padding-bottom: 60px;
}


/*-------------------------------------------------- "О нас" --------------------------------------------------*/


#about p {
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 60px;
	font-weight: 300;
}

#about div {
	background-color: #252427;
	color: #FFFFFF;
	position: relative;
}

#about div > div::before {
	content: "";
	width: 26px;
	height: 4px;
	top: 0;
	left: 0;
	position: absolute;
	background-color: #037769;
}

#about .about_blocks {
	display: flex;
	justify-content: space-between;
}
#about .about_blocks div {
	background: #252427;
	/*border-top: 4px solid #037769;*/
	padding-top: 14px;
	
}
#about > p {
	line-height: 160%;
}
#about .about_blocks p {
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 80px;
	line-height: 142%;
	color: #D2D2D2;
}
#about img {
	width: 100%;                                    /*1536px*/
	margin-bottom: 80px;
}

#about img ~ p {
	margin-bottom: 0;
}

/*#about .about_lines {
	display: flex;
	justify-content: space-between;
}

#about .about_lines div{
	background: #252427;
	border-top: 4px solid #037769;
}*/


/*-------------------------------------------------- "Что мы можем" --------------------------------------------------*/


#spec div {
	background-color: #FFFFFF;
	color: #000000;
}
#spec div p {
	margin: 0;
}
#spec .spec_line {
	display: flex;
	justify-content: space-between;
	margin-bottom: 55px;
}
#spec .spec_blocks {
	/*border: 2px solid #FFFFFF;*/                /*Добавить границу для блочков*/
	background-color: #F2F7F7;
	width: 32%;
	height: 238px;
	z-index: 1;
}
#spec .spec_blocks p:first-child {
	padding-top: 30px;
	margin-bottom: 5px;
	color: #037769;
	font-family: Inter, sans-serif;
	font-variant: normal;
	font-size: 28px;
}
#spec .spec_blocks p {
	padding-left: 35px;
	font-family: Inter, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 155%;
}


/*-------------------------------------------------- "Перейти к контактам кафедры" --------------------------------------------------*/


#contacts_link {
	text-align: center;
}
#contacts_link > p {
	margin-top: 0;
	margin-bottom: 30px;
	font-variant: medium;
	font-size: 30px;
	text-align: center;
	padding-top: 75px;
}


/*-------------------------------------------------- "Галерея" --------------------------------------------------*/

#gallery .gallery_slides {
	display: flex;
	justify-content: space-between;
}

#gallery .gallery_slide img {
	height: 500px;
}


/*-------------------------------------------------- "Контакты" --------------------------------------------------*/


#contacts .contacts_cont {
	display: flex;
	justify-content: space-between;
}

#contacts h4 {
	font-weight: 500;
	font-variant: medium;
	font-size: 30px;
	padding-top: 10px;
	margin-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;

}
#contacts a {
	color: #FFFFFF;
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 300;
}
#contacts a:hover {
	color: #64D8CA;
}
#contacts .contacts_cont div {
	border-right: 1px solid #525252;
	height: 180px;
}
#contacts .contacts_cont div:last-child {
	/*border-right: 0;*/
}


/*-------------------------------------------------- "Media-запросы" --------------------------------------------------*/


@media screen and (max-width: 1536px) { /*Отключение блокировки ширины в 80%*/
    header {
    	width: 100%;
    	margin: 0;
    }
    .container {
    	width: 100%
    }
    .container1 {
    	padding-left: 2%;
    	padding-right: 2%;
    }
    .containers {
    	padding-left: 2%;
    	padding-right: 2%;
    }
}
@media screen and (max-width: 1170px) { /*Отключение фоновых текстур*/
    
}
@media screen and (max-width: 1261px) { /*Активация вертикальных меню*/
    
}